#App {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(
        auto-fit,
        minmax(max-content, max(31ch, 30%))
    );
    grid-template-columns: repeat(auto-fit, minmax(max-content, 31ch));
    align-items: center;
    justify-items: center;
    gap: 1em;
}
