#Events {
    width: 44ch;
    max-width: 97vw;
    height: calc(100vh - 6rem);
    min-height: 20rem;
    background-color: var(--bg-colour-s);
    padding: 2em;
    padding-top: 0;
}

.focus {
    z-index: 100;
}

.event.focus {
    cursor: default;
    pointer-events: none;
    background-color: var(--fn-colour-s);
    box-shadow: 0 0.17em 0.3em 0 rgba(0, 0, 0, 0.6);
}

.event {
    width: calc(95% - 6ch);
    left: 6ch;
    background-color: var(--bg-colour-t);
    border: 0.19em solid var(--bg-colour-m);
    color: var(--fn-colour-m);
    border-radius: 1em;
    cursor: pointer;
    padding: 1em 0.1em;
}

.event:hover,
.event:focus {
    background-color: var(--fn-colour-s);
}

.event h3,
.event .time {
    text-align: center;
}

.event-container {
    height: calc(100% - 6rem);
    /* border-radius: 1em; */
    /* border: 0.25em solid var(--bg-colour-m); */
    box-shadow: 0.6em 0 0.6em -0.6em var(--fn-colour-m),
        -0.6em 0 0.6em -0.6em var(--fn-colour-m);
}

.event-container p {
    margin: 0;
}

#Events button {
    border: /*0.25em solid var(--fn-colour-t)*/ none;
    outline: none;
    margin: 0.3em;
    padding: 0.15em 1.5ch;
    cursor: pointer;
    border-radius: 1ch;
    background-color: var(--bg-colour-t);
}

#Events button:hover,
#Events button:focus {
    background-color: var(--fn-colour-t);
    /* border: 0.25em solid var(--bg-colour-m); */
}
