:root {
    --bg-colour-m: /*#242424*/ #fff;
    --fn-colour-m: /*#ffffff*/ rgba(0, 0, 0, 0.658);
    --fn-colour-s: /*#33ff00*/ rgb(255, 67, 67);
    --bg-colour-s: /*#434942*/ #fffbfa;
    --fn-colour-t: /*#868686*/ #00dbdb;
    --bg-colour-t: /*#333333*/ #b9fff6;
    --fn-colour-q: #636363;
    --bg-colour-q: rgb(79, 0, 182);
    --fn-colour-f: rgb(201, 201, 201);
    --bg-colour-f: rgb(240, 240, 240);
}

* {
    color: inherit;
    font-style: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-colour-m);
    color: var(--fn-colour-m);
}

button,
input,
option,
select {
    background-color: var(--bg-colour-s);
    font-size: inherit;
    font-style: inherit;
}

h1 {
    line-height: 1.2;
}

h2 {
    line-height: 1.3;
}

h3 {
    line-height: 1.4;
}

h4 {
    line-height: 1.5;
}

p {
    line-height: 1.7;
}
