#sign-in-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#sign-in-container h2 {
    color: var(--fn-colour-s);
}

#sign-in {
    display: block;
    position: fixed;
    max-height: 100vh;
    overflow: auto;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 2em;
    margin: auto;
    padding: 1em;
    width: -moz-min-content;
    width: min-content;
    max-height: -moz-min-content;
    max-height: min-content;
    padding: 2em;
    background-color: var(--bg-colour-t);
}

#sign-in input,
#sign-in button {
    background-color: var(--bg-colour-s);
    font-family: inherit;
    border: 0.2em solid var(--bg-colour-m);
    outline: none;
}

#sign-in input:focus,
#sign-in input:hover,
#sign-in button:focus,
#sign-in button:focus {
    border: 0.2em solid var(--fn-colour-q);
    background-color: var(--bg-colour-t);
}

#name {
    width: 18ch;
}

#password {
    width: 18ch;
}

#sign-in .change-method {
    display: inline;
    border: none;
    background-color: none;
    text-decoration: underline;
}
#sign-in .change-method:hover,
#sign-in .change-method:focus {
    border: none;
}
