.SummarisedEvents {
    display: block;
    width: 100%;
    margin: 0.6em 0;
    cursor: pointer;
    pointer-events: all;
    background-color: var(--bg-colour-t);
    border: none;
    border-radius: 1em;
}

.SummarisedEvents:hover,
.SummarisedEvents:focus {
    background-color: /*var(--bg-colour-t)*/ var(--fn-colour-s);
}

#SummaryOfEvents {
    height: 100%;
    overflow: auto;
    min-height: 12rem;
    justify-self: stretch;
    align-self: stretch;
    max-height: calc(100vh - 6rem);
    /* border: 0.25em solid var(--bg-colour-t); */
}
